name: KMP library publish production version

on:
  release:
    types: [published]

jobs:
  build:
    runs-on: macOS-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
      - name: Cache ~/.m2/repository
        uses: actions/cache@v1
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('buildSrc/src/main/kotlin/**/*') }}
          restore-keys: ${{ runner.os }}-maven
      - name: Cache ~/.konan
        uses: actions/cache@v1
        with:
          path: ~/.konan
          key: ${{ runner.os }}-kn-${{ hashFiles('buildSrc/build.gradle.kts') }}
          restore-keys: ${{ runner.os }}-kn
      - name: Compile plugin
        run: ./gradlew -PpluginPublish publishToMavenLocal
      - name: Compile core
        run: ./gradlew -PcorePublish :widgets:publishToMavenLocal
      - name: Cocoapods install
        run: (cd sample/ios-app && pod install)
      - name: Compile additions
        run: |
          ./gradlew -PadditionsPublish \
          :widgets-flat:build \
          :widgets-bottomsheet:build \
          :widgets-sms:build \
          :widgets-datetime-picker:build \
          :widgets-collection:build \
          :widgets-image-network:build \
          :widgets-permissions:build \
          :widgets-media:build
      - name: Publish all to bintray
        run: |
          ./gradlew \
          publishNoValidationToBintray \
          -DBINTRAY_USER=${{ secrets.BINTRAY_USER }} -DBINTRAY_KEY=${{ secrets.BINTRAY_KEY }} \
          --stacktrace
